body{
  width: 100%;
  /* padding: ; */
}
.tbPar{
  /* width: 50%; */
  margin: 0px;
  padding: 0px;
}
.tbPar table td{
  width: 150px;
  height: 100px;
  /* max-width: 30px;
  max-height: 30px; */
}
.tbPar table {
  border: solid 5px red;
  /* max-width: 30px;
  max-height: 30px; */
}
.editable{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: hide;
}